body{
    margin: 0;
    display: grid;
    place-items: center;
    background-image: url(images/apply.jpg);
    background-position: center;
    background-size: 100%; ;
}
h1 {
    text-align: center;
    margin-bottom: 50px;
    font-size: 30px;
    text-decoration: double underline 2px;
    }
label {
    display: block;
    margin-bottom: 13px;
    font-weight: bold;
    font-size: 15px;
    }
.reason{
    color: white;
}
input,select,textarea {
    display: block;
    width: 100%;
    padding: 13px;
    margin-bottom: 25px;
    border-radius: 10px;
    border: 2px solid gray;
    }
button {
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border: 3px solid white;
    border-radius: 10px;
    cursor: pointer;
    }
.btn{
    display: grid;
    justify-content: center;
    align-items: center;
}
button:hover {
    background-color: #09ff00;
    color: black;
    }
#message{
    text-align: center;
    font-size: 30px;
    color: white;
}